<div class="container">
  <input type="text" [(ngModel)]="searchFilter" />
  <h2>{{childmassage}}</h2>
  <!-- <p>{{demotext}}</p> -->
  <div class="row card-group">
    <div class="col-3" *ngFor="let movie of filteredMoviesbySearch">
      <div class="card h-50">
        <img
          class="card-img-top"
          [src]="'https://image.tmdb.org/t/p/w500'+movie.poster_path"
          [title]="movie.title"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-title">{{ movie.title | lowercase }}</p>
          <p *ngIf="movie.showDetail">{{ movie.overview | uppercase }}</p>
          <h6>{{ movie.release_date | date: "d/M/y" }}</h6>
          <h6>{{ movie.ticket_price | currency }}</h6>
          <h1>{{ movie.movierating }}</h1>
          <app-star [rating]="movie.movierating" 
          (ratingpointed)="moviesratedCliked($event)"></app-star>

          <br />
          <!-- disabled={{isDisabled}} -->
          <button
            href="#"
            class="btn btn-primary"
            (click)="toggleDtails(movie.id)"
          >
            {{ movie.showDetail ? "hide" : "show" }} Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
